arxiv-metadata-full.json
data/level1/*
logs/*
__pycache__
postgres_data/*
neo4j/*
full_data.csv

data/raw_data/fail/*.json
data/raw_data/input/*.json
data/raw_data/sucess/*.json

data/preprocessed_data/fail/*.json
data/preprocessed_data/input/*.json
data/preprocessed_data/success/*.json

arxiv-metadata-oai-snapshot.json
