arxiv-metadata-full.json
data/level1/*
logs/*
__pycache__
postgres_data/*
full_data.csv

data/raw_data/fail/*
data/raw_data/input/*
data/raw_data/sucess/*

data/norm_jsons/fail/*
data/norm_jsons/input/*
data/norm_jsons/success/*
